#box{
  width:1300px;
  height: 1000px;
  border: 1px solid black;
  background-color: rgb(131, 165, 196);
}

#del{
  width: 110px;
  height: 30px;
  margin-top: -600px;
  margin-left: 100px;
}
#edit{
  width: 110px;
  height: 30px;
  margin-left: 50px;
}